.cover {
    height: 80vh;
    width: 100%;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover h1 {
  font-size: 5rem;
  font-weight: 700;
  color: black;
  margin: 0 0 1.5rem;
}

form.container {
    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.container > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
}

.container input[type="submit"] {
    background: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: black;
    padding: 0 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.container input[type="submit"]:hover {
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
}

input[type="text"] {
  flex-basis: 500px;
}