footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-secondary);
    text-align: left;
    padding: 0;
    margin: 0;
}

footer p {
    padding: 14px 16px;
}
