:root {
  font-family: Inter, Arial, sans-serif;
  --color-bg: #f9fdfa;
  --color-primary: #41c36d;
  --color-secondary: #98e2b2;
  --color-accent: #68d88e;
}

body {
  margin:0;
  background-color: var(--color-bg);
}

div {
  text-align: center;
  background-color: var(--color-bg);
}


button {
  padding: 10px 15px;
}
