:root {
    /* Colors */
    --color-text: #060f09;
    --color-primary: #41c36d;
    --color-secondary: #98e2b2;
    --color-accent: #68d88e;
    --color-bg: #fff;

    /* Fonts */
    --font-inter: "Inter";
}